{% extends 'base.html' %}
{% load static %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Villa Home</title>
    <style>
        body {
            background-image: url('static/img/banner1.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<br>
<h2 style="text-align : center;">Hello Welcome To Movies Villa</h2>
<br>
<p style="text-align : center;">Discover and share your favorite movies. Add new movies to our collection and write reviews to help others find their next great watch. Happy movie hunting</p>
</body>
</html>
{% endblock %}